@import "../../global";
.homepage {
  width: 100%;
  height: calc(100vh - 130px);
  background-color: $other-color;
  top: 70px;
  header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .info {
    font-size: 3.5rem;
    width: 100%;
    color: $secondary-color;
    text-align: center;
    padding: 150px;
    border: 1px solid red;
  }
  .imagespace {
    width: 100%;
  }
}
